body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  button {
    background-color: var(--secondary-color);
  }
  
  @media screen and (max-width: 600px) {
    .main-content {
      padding: 10px;
      background-color: blue;
    }

    h1{
      font-size: 16px;
      background-color: green;
    }
  }

  @media screen and (min-width: 800px) {
    .main-content {
      padding: 10px;
      background-color: purple;
    }
  }
  